"""
Global parameters for installation script.
"""

USERNAME = "username"       # Webfaction username
PASSWORD = "password"       # Webfaction password
APPNAME = "foo"             # Webfaction application name
DOMAINNAME = "foo.com"      # Domain name for site
SUBDOMAINNAME = None	    # Subdomain to use, or None if you don't want one.
YOUREMAIL = "you@gmail.com" # Forward emails to this address
URLPATH = "/"               # URL path of the forum
EMAILUSERNAME = "admin"    # Username (before @) in admin's email address
#EMAILUSERNAME = "%s" % APPNAME # Username (before @) in admin's email address

# You probably don't need to modify these values:
SERVERIP    = None          # Webfaction IP address of the server where
                            # the entry resides, for creating the website.
                            # If None, we will just use the first IP
                            # address in your existing sites.
                            # This is useful if you bought static IP
                            # addresses.
WEBSITENAME = APPNAME       # Webfaction website name
DATABASETYPE = "postgresql"  # Either "postgresql" or "mysql"
DATABASENAME = ("%s_%s" % (USERNAME, APPNAME))[:16]    # Webfaction database name
DATABASEPASSWORD = None     # Webfaction database password. If None,
                            # pick a random password.
MAILBOXUSERNAME = APPNAME   # Webfaction mailbox username
MAILBOXPASSWORD = None      # Webfaction mailbox password. If None,
                            # pick a random password.

AWSTATS_APPNAME = APPNAME + "_awstats"  # Awstats Webfaction application name
AWSTATS_URLPATH = URLPATH + "awstats"  # Awstats URL path of the forum

if SUBDOMAINNAME is None:
    FULLDOMAINNAME = DOMAINNAME
else:
    FULLDOMAINNAME = "%s.%s" % (SUBDOMAINNAME, DOMAINNAME)
FULLURL = FULLDOMAINNAME + URLPATH

EMAILADDRESS = "%s@%s" % (EMAILUSERNAME, FULLDOMAINNAME)  # Email address for the admin

import os, os.path
WEBAPPDIR = os.path.join(os.environ["HOME"], "webapps/%s/" % APPNAME)
PROJECTDIR = os.path.join(WEBAPPDIR, "projects/osqa/")

APPALLOSQA = "allosqa"      # The mod_wsgi 2.5/Python 2.5 application name that serves all the OSQA sites.
WEBALLOSQADIR = os.path.join(os.environ["HOME"], "webapps/%s/" % APPALLOSQA)

ENVDIR = os.path.join(os.environ["HOME"], "envs/osqa/")	# Note: All OSQA sites should share one env dir, otherwise we need one Apache instance per env.

try:
    from moreglobals import *
except:
    pass
